:root {
  --lightBGColor: #c7cedf;
  --darkBGColor: #002a29;
  --borderColor: #4d2a16;
  --textColor: white;
  --altBorderColor: #007a79;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

table {
  padding: 0.2rem;
  max-width: fit-content;
  margin-top: 1rem;
  border: 2px solid var(--borderColor);
  background-color: var(--lightBGColor);
}
td {
  background-color: white;
  border: 2px solid var(--altBorderColor);
  text-align: center;
  padding: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: black;

  background-color: white;
}
#container {
  background-color: var(--darkBGColor);
  display: flex;
  flex-flow: column;
  width: fit-content;
  align-items: center;
  min-height: fit-content;
  padding: 3rem;
  margin: 2rem;
}

.formContainer {
  background-color: var(--lightBGColor);
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid var(--borderColor);
}

#bookInput {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0.3rem;
  padding: 4px;
  background-color: white;
  border: 1px solid var(--altBorderColor);
}

button {
  background-color: var(--darkBGColor);
  border: 1px solid var(--borderColor);
  box-shadow: 1px 1px 2px var(--darkBGColor);
  color: var(--textColor);
  font-size: 1rem;
  margin: 0.5rem;
}

#switchButton {
  font-size: 12px;
  margin: 0 5px 0 5px;
  padding: 0 10px 0 10px;
}
#showForm {
  font-size: 1.2rem;
  background-color: var(--lightBGColor);
  border: 1px solid white;
  color: var(--darkBGColor);
}

h1 {
  color: var(--textColor);
  text-shadow: 1px 1px 2px black;
}
