table,
td {
  border: 2px solid #441f0b;
  padding: 0.3rem;
  width: 30rem;
  margin-top: 1rem;
  background-color: #fdedd8;
}
td {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #3a1607;
}
#container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2rem;
}

.formContainer {
  background-color: #fdedd8;
  justify-items: center;
  align-items: center;
  width: 24rem;
  padding: 0.5rem;
  border: 1px solid #441f0b;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
input {
  margin: 2px;
  background-color: white;
  border: 1px solid #441f0b;
}
button {
  background-color: #fdedd8;
  border: #441f0b solid 1px;
  font-size: 1.2rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 3px #441f0ba6;
}
